html, body {
    height: 100%;
    font-size: 24px;
}

ol, ul {
    width:auto;
}

li{
    margin-top: 20px;
}

li:first-child {
    margin-top:0;
}

.vysoky {
    height:100%;
}

.nastred {
    display: flex;
    align-items: center;
    height: 80%;
    justify-content: center;
}
